Django>=5.2,<5.3
djangorestframework>=3.16,<3.17
psycopg[binary]>=3.2,<4
reportlab>=4.2,<5
boto3>=1.35,<2
babel>=2.16,<3
firebase-admin>=6.6,<8
gunicorn>=23,<24
pywebpush>=2,<3
requests>=2.32,<3
whitenoise>=6.7,<7
django-redis>=5.4,<6
sentry-sdk[django]>=2,<3
